body{
    /*background: rgb(199, 200, 205);*/
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #ad5389, #3c1053);
    color: white;
    
  
}
fieldset {
    width: 600px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
   /* background: rgb(237, 239, 250) ;
    border: 1px solid rgb(176, 195, 252);*/
    background:  #eaafc8;
    border: 1px solid rgb(176, 195, 252);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(60, 62, 82);
}

hr {
    border: 1px solid  #3c1053;
}

#question {
    display: flex;
    justify-content: center;
}

#option {
    width: 300px;
    margin: 10px 10px;
    height: 40px;
    background-color: rgb(198, 205, 227);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    
}
/*#option:hover{
    background-color:rgb(65, 111, 249);
}*/

#next{
    width: 80px;
    height:30px;
    display: block;
    margin:20px auto;
    border: none;
    border-radius: 6px;
    background-color:rgb(176, 195, 252);
    color:rgb(17, 17, 19);
    font-size: 15px;

}
#next:hover{
    background-color:rgb(65, 111, 249);
}
#player{
    margin-top:40px;
}

.leftplayer{
    float:left;
    margin-left:200px;
   
}
.rightplayer{
    float: right;
    margin-right:200px;
}
#box1{
    background-color: rgb(153, 135, 247);
    padding: 5px 5px;
    border-radius: 6px;
}
#box2{
    padding: 5px 5px;
    border-radius: 6px;
}
#start{
    width: 80px;
    text-align: center;
    height:30px;
    display: block;
    margin:20px auto;
    border: none;
    padding-top: 10px;
    border-radius: 6px;
    background-color:rgb(86, 124, 240);
    color:rgb(17, 17, 19);

}
.playAgain{
    width: 80px;
    height:30px;
    display: block;
    margin:20px auto;
    border: none;
    border-radius: 6px;
    background-color:rgb(176, 195, 252);
    color:rgb(17, 17, 19);

}
.playAgain:hover{
    background-color:rgb(65, 111, 249);
}