fieldset {
    width: 600px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(176, 195, 252);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(60, 62, 82);
}

hr {
    border: 1px solid rgb(176, 195, 252);
}

#question {
    display: flex;
    justify-content: center;
}

#option {
    width: 300px;
    margin: 10px 10px;
    height: 40px;
    background-color: rgb(198, 205, 227);
    border: none;
    border-radius: 6px;
    
}
#next{
    width: 80px;
    height:30px;
    display: block;
    margin:20px auto;
    border: none;
    border-radius: 6px;
    background-color:rgb(176, 195, 252);
    color:rgb(17, 17, 19);

}
#player{
    margin-top:40px;
}

.leftplayer{
    float:left;
    margin-left:100px;
}
.rightplayer{
    float: right;
    margin-right:100px;
}
#start{
    width: 80px;
    text-align: center;
    height:30px;
    display: block;
    margin:20px auto;
    border: none;
    padding-top: 10px;
    border-radius: 6px;
    background-color:rgb(86, 124, 240);
    color:rgb(17, 17, 19);

}